.footer {
  padding-top: 47px;
  padding-bottom: 47px;
  background-color: #fff;

  @media screen and (max-width: 1279px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.footer__container {
  width: min(1748px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.footer__socials {
  display: flex;
  gap: 83px;
  font-size: 70px;

  @media screen and (max-width: 1440px) {
    gap: 40px;
    font-size: 48px;
  }

  @media screen and (max-width: 1279px) {
    gap: 11px;
    font-size: 20px;
  }

  li {
    display: flex;
    flex-direction: column;
    position: relative;

    &:hover {
      a {
        transition: color 200ms ease;
        color: #ccc;
      }
      path {
        transition: stroke 200ms ease;
        stroke: #ccc;
      }
    }

    svg {
      position: absolute;
      left: 3px;
      bottom: -5px;
    }
  }
}

.footer__description {
  max-width: 624px;
  font-size: 40px;

  @media screen and (max-width: 1440px) {
    font-size: 24px;
  }
  @media screen and (max-width: 768px) {
    font-size: 10px;
  }
}
